{% extends 'base.html' %}

{% block title %}{% block head_title %}{% endblock %}{% endblock %}

{% block script %}
    {% block extra_head %}{% endblock %}
    <style>
        button[type=submit] {
            padding: 0;
            border-style: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }
    </style>
{% endblock %}


{% block contentpyquizz %}
    <div class="container">
    {% block body %}
    <div class="btn-group" role="group" aria-label="gestion de la connexion">
        {% if user.is_authenticated %}
        <a href="{% url 'account_email' %}"><button type="button" class="btn btn-secondary">Changer d'email</button></a>
        <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-primary">Se déconnecter</button></a>
        {% else %}
        <a href="{% url 'account_login' %}"><button type="button" class="btn btn-primary">Se connecter</button></a>
        <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-secondary">Créer un compte</button></a>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>
{% endblock %}

