{% load socialaccount %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vincent Poulailleau">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>{% block title %}Quiz{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <style>
        body {
            padding-top: 5em;
            padding-bottom: 5rem;
        }
        label {
            font-weight: bold;
        }
        .helptext {
            display: block;
            width: 100%;
            font-size: 80%;
        }
        input {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    </style>
    {% block script %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'quizz_help' %}">Gestionnaire de quiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    {% if user.first_name and user.last_name %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'update_profile' %}">{{ user.first_name }} {{ user.last_name }}</a></li>
                    {% else %}
                    <li class="navbar-text">{{ user.username }} <a class="p-3 mb-2 bg-danger text-white" href="{% url 'update_profile' %}">Rentrer le nom et le prénom</a></li>
                    {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% provider_login_url 'google' %}">S'authentifier avec Google</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">S'authentifier classiquement</a>
                </li>
                {% endif %}
                {% block nav %}{% endblock %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quizz_help' %}">Aide</a>
                </li>
            </ul>
        </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="container">
        <div class="{% if message.tags %}{{ message.tags }}{% else %}alert alert-primary{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div id="main" class="container-fluid">
        {% block contentpyquizz %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
