{% extends 'base.html' %}
{% block title %}Aide{% endblock %}
{% block contentpyquizz %}
    <div class="container">
        <h1>Aide</h1>
    </div>
    <div class="container">
        <div class="row p-x-5">
            <div class="col">
                <ul>
                    {% if quizzes %}
                        <li class="mb-2">
                            Dernier quiz :
                            <ul>
                                {% for url, name in quizzes %}
                                    <li>
                                        <a href="{{ url }}">{{ name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="mb-2">Quiz par interface web (consultable avec un PC ou un smartphone)</li>
                    <li class="mb-2">
                        Système de notation :
                        <ul>
                            <li class="mb-2">
                                Questionnaire à choix multiple (<strong>entre 1 et toutes les réponses possibles</strong>)
                            </li>
                            <li class="mb-2">Une question vaut 1 point</li>
                            <li class="mb-2">0,5 points en moins par mauvaise réponse (en trop ou manquante)</li>
                            <li class="mb-2">Pas de points négatifs (deux erreurs ou plus entrainent un zéro à la question)</li>
                            <li class="mb-2">
                                Vous pouvez répondre « sans opinion », vous n'aurez pas de points, mais à la fin du questionnaire, vous saurez réellement l'état de vos connaissances
                            </li>
                            <li class="mb-2">
                                Lisez attentivement les questions, chaque détail compte (si la question est au pluriel, alors il y a plusieurs réponses attendues…)
                            </li>
                        </ul>
                    </li>
                    <li class="mb-2">
                        Il est possible de <strong>sauter la question</strong>, il faut ne rien cocher (même pas « sans opinion ») et cliquer sur envoyer. La question reviendra plus tard (une question est alors choisie au hasard parmi les questions restantes)
                    </li>
                    <li class="mb-2">
                        Une fois que vous avez répondu à une question, vous ne pouvez <strong>plus revenir en arrière</strong>
                    </li>
                    <li class="mb-2">
                        Le temps du questionnaire est limité (vous savez ou vous ne savez pas, je ne doute pas qu'avec plus de temps vous seriez capable de trouver les informations dans vos cours ou sur internet)
                    </li>
                    <li class="mb-2">Mettez l'adresse du site en favori, les adresses se ressemblent, et elles pourraient resservir !</li>
                    <li class="mb-2">À la fin du questionnaire, vous avez accès aux statistiques (personnelles et du groupe)</li>
                    <li class="mb-2">
                        Pour les dyslexiques, il est possible de configurer le <a href="{% url 'update_profile' %}">mode spécial dyslexiques</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
