{% extends 'base.html' %}

{% block title %}{{ review }}{% endblock %}


{% block content %}
<div class="container">
    <h1>Bilan de l'année : {{ review }}</h1>
</div>
<div class="container-fluid">

    <div class="row p-x-5">
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Le plus facile</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.easiest.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-danger">
                <h2 class="card-header">Le plus difficile</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.hardest.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Le plus amusant</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.funniest.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-danger">
                <h2 class="card-header">Le plus ennuyant</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.most_boring.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Le plus original</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.most_original.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-danger">
                <h2 class="card-header">Le plus regrettable</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.most_regrettable.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Le plus intéressant</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.most_interesting.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-danger">
                <h2 class="card-header">Le moins intéressant</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.least_interesting.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Idées d'amélioration</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.suggestions.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 py-5">
            <div class="card bg-light border-success">
                <h2 class="card-header">Remarques sur le prof</h2>
                <div class="card-body">
                    <ul class="card-text">
                        {% for answer in answers %}
                            {% for line in answer.teacher_appreciation.splitlines %}
                                <li>{% if answer.email %}<span class="btn btn-outline-success btn-sm">{{ answer.email }}</span> {% endif %}{{ line }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
