{% extends 'base.html' %}

{% block title %}{% if quizz_sending %}{{ quizz_sending.quizz.name }}{% else %}Statistiques{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <h1>Statistiques</h1>
    <h2>Destinataires</h2>
    <p>Quizz envoyé à {{ quizz_sending.group.name }}.</p>
    <h2>Réponses reçues</h2>
    <p>{{ total_questions.value }} questions répondues sur {{ total_questions.max_value }} questions envoyées.</p>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ total_questions.percentage }}%;"
            aria-valuenow="{{ total_questions.value }}" aria-valuemin="0" aria-valuemax="{{ total_questions.max_value }}">
            {{ total_questions.percentage }}%
        </div>
    </div>
</div>
{% endblock %}f