{% extends 'base.html' %}

{% block title %}{% if quizz_sending %}{{ quizz_sending.quizz.name }}{% else %}Statistiques{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <h1>Statistiques</h1>
    <h2>Destinataires</h2>
    <p>Quizz envoyé à {{ quizz_sending.group.name }}.</p>
    <h2>Réponses reçues</h2>
    <p>{{ nb_answered_questions }} questions répondues sur {{ nb_questions }} questions envoyées.</p>
    <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ percent_answered_questions }}%;"
            aria-valuenow="{{ nb_answered_questions }}" aria-valuemin="0" aria-valuemax="{{ nb_questions }}">
            {{ percent_answered_questions }}%
        </div>
    </div>
</div>
{% endblock %}f