{% extends 'quizz/base_student.html' %}

{% block title %}Statistiques{% endblock %}

{% block content %}
<div class="container">
    <h1>Statistiques</h1>

    {% for quizz_sending, questions in quizzes.items %}
    <h2>{{ quizz_sending.quizz.name }} du {{ quizz_sending.date }}</h2>
    <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#collapse_{{quizz_sending.hash}}"
        aria-expanded="false" aria-controls="collapse_{{quizz_sending.hash}}">
        Détail
    </button>
    <div class="collapse" id="collapse_{{quizz_sending.hash}}">
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th scope="col" class="w-25">Question</th>
                    <th scope="col">Résultat</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr scope="row">
                    <td>
                        {{ question.text }}
                        <ul>
                        {% for answer in question.extra_text.splitlines %}
                            <li>{{ answer }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: {{ question.progress.percentage }}%;" aria-valuenow="{{ question.progress.value }}"
                                aria-valuemin="0" aria-valuemax="{{ question.progress.max_value }}">
                                {{ question.progress.percentage }}%
                            </div>
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                                style="width: {{ question.progress.reverse_percentage }}%;" aria-valuenow="{{ question.progress.value }}"
                                aria-valuemin="0" aria-valuemax="{{ question.progress.max_value }}"></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}

</div>
{% endblock %}